In [3]:
#importing libraries
import matplotlib.pyplot as plt
import json
from flask import Flask, render_template, redirect, url_for, request, session, g
from flask_login import login_required, LoginManager, UserMixin, login_user, current_user
from functools import wraps
import hashlib
import sqlite3
import os


app = Flask(__name__)
app.secret_key = 'secret_key'

def get_db_connection():
    conn = sqlite3.connect('expat_project.db')
    conn.row_factory = sqlite3.Row
    conn.set_trace_callback(print)
    return conn

@app.before_request
def before_request():
    g.user = None
    if 'user_id' in session:
        conn = get_db_connection()
        g.user = conn.execute("SELECT * FROM users WHERE id = ?", (session['user_id'],)).fetchone()
        conn.close()

@app.route("/")
def Landing_Page():
    try:
        return render_template("home.html")
    except Exception as e:
        return str(e)

@app.route("/login", methods=['POST','GET'])
def login():
    if request.method == 'POST':
     
        connection = get_db_connection()
        cursor = connection.cursor()

        email = request.form['email']
        pass_hash = request.form['psw']
        hashed_password = hashlib.sha256(pass_hash.encode()).hexdigest()
        cursor.execute('SELECT users.id, consultants.id as "consultant_id", users.email, users.pass_hash FROM users LEFT JOIN consultants ON consultants.user_id = users.id where users.email=? AND users.pass_hash=?', (email, hashed_password))

        results = cursor.fetchone()

        if results:
            session['user_id'] = results['id']
            user = results
            
            if results["consultant_id"] is not None:
                return redirect("/consultants/" + str(results['consultant_id']) + "/cases")
            
            else:
                print("got back user with consulant: {}".format(user.keys()))
                print("got back consultant id: {}".format(user['consultant_id']))
                print("got back type of user: {}".format(type(user)))
                print("got back user: {}".format(user))
                return render_template("Logged.html", user = user)
            

        else:
            return render_template("LoginError.html")



        
@app.route("/logout")
def logout():
    if 'user_id' in session:
        session.clear()
        return redirect("/")




@app.route("/registered", methods=['POST','GET'])
def registered():
    if request.method == 'POST':
        try:
            first_name = request.form['name']
            last_name = request.form['surname']
            email = request.form['email']
            pass_hash = request.form['psw']
            
            with sqlite3.connect('expat_project.db') as con:
                c = con.cursor()
                c.execute("SELECT * FROM users WHERE email =?",(email,))
                existing_user = c.fetchone()
                if existing_user:
                    msg = "Email already exists, please use another email"
                    return render_template("Registered.html", msg=msg)
                else:
                    hashed_password = hashlib.sha256(pass_hash.encode()).hexdigest()
                    c.execute("INSERT INTO users (first_name,last_name,email,pass_hash) VALUES (?,?,?,?)",(first_name,last_name,email,hashed_password))
                    c.execute("SELECT id FROM users WHERE email=?",(email,))
                    user_id = c.fetchone()[0]
                    con.commit()
                    session['user_id'] = user_id
                    msg = "Welcome to Expat Assistance "+first_name
                    return redirect("/users/{}/select_application".format(user_id))
        except Exception as e:
            con.rollback()
            msg = "Got back error to register " + str(e)
        finally:
            con.close()
          
            
              
########################################################################################


#page to select application type


@app.route("/users/<int:user_id>/select_application")
def select_application(user_id):
    if g.user and g.user['id'] == user_id:
        conn = get_db_connection()
        rows = conn.execute("SELECT id, title FROM application_types").fetchall()
        conn.close()
        return render_template('select_application_type.html', rows = rows, user_id = user_id) 
    
    else:
        return redirect('/')

#page and query to get existing cases for a user 

@app.route("/users/<int:user_id>/cases")
def user_cases(user_id):
    if g.user and g.user['id'] == session['user_id'] and g.user['id'] == user_id:
        conn = get_db_connection()
        rows = conn.execute("""SELECT
            t.title,
            u.first_name as "user_first_name",
            u.last_name as "user_last_name",
            a.created_at,
            a.updated_at,
            c.first_name as "consultant_first_name",
            c.last_name as "consultant_last_name",
            c.company_name,
            a.status 
        FROM applications AS a
        LEFT JOIN application_types as t 
        ON a.application_type_id = t.id
        LEFT JOIN users AS u
        ON a.creator_id = u.id
        LEFT JOIN consultants AS c
        ON a.assigned_consultant_id = c.id
        WHERE a.creator_id = ?""",(user_id,)).fetchall()
        conn.close()
        return render_template('user_cases.html', rows = rows)
    
    else:
        return redirect('/')




#page to start a new application

@app.route("/users/<int:user_id>/applications/<application_type_id>/create")
def start_application(user_id, application_type_id):
    if g.user and g.user['id'] == session['user_id'] and g.user['id'] == user_id:
        conn = get_db_connection()
        rows = conn.execute('SELECT title, id, required FROM questions WHERE application_type_id = ' + application_type_id ).fetchall()
        conn.close()
        return render_template('start_application.html', questions = rows, user_id = user_id, application_type_id = application_type_id)  
    
    else:
        return redirect('/')



@app.route("/users/<int:user_id>/applications/<application_type_id>/submit",  methods=['POST'])
def submit_application(user_id, application_type_id):
    if g.user and g.user['id'] == user_id:
        response = request.form
        application_id = None
        msg = ''
        try:
            con = sqlite3.connect('expat_project.db')
            c = con.cursor()
            application_id = c.execute("INSERT INTO applications (application_type_id, creator_id) VALUES (?,?)",(application_type_id,user_id)).lastrowid
            print("inserted application with id: {}".format(application_id))
            for question_id in response:
                application_response_id = c.execute("INSERT INTO application_responses  (question_id, application_id, response) VALUES (?, ?, ?)", (question_id, application_id, response[question_id])).lastrowid
                print("inserted application response with id: {}".format(application_response_id))
            con.commit()
            msg = "Successfully submitted application with responses"

        except Exception as e:
            print("rollbacking the transaction {}!!".format(e))
            msg = "Incorrect submission. {}".format(e)
            con.rollback()

        finally:
            con.close()
            return render_template('submit_application.html', response = response, application_id = application_id, msg = msg, user_id = user_id)
    else:
        return redirect('/')
        

#page for consulatnts to 

@app.route("/consultants/<int:consultant_id>/cases")
def consultant_cases(consultant_id):
    if 'user_id' in session and session['user_id'] == consultant_id:
        conn = get_db_connection()
        rows = conn.execute("""SELECT
         a.id, 
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at, 
         c.first_name AS "consultant_first_name", 
         c.last_name AS "consultant_last_name",
         c.company_name, 
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id 
    WHERE a.assigned_consultant_id = ?""", (consultant_id,)).fetchall()
        conn.close()

        return render_template('consultant_cases.html', rows = rows, consultant_id = consultant_id) 
    
    else:
        return redirect('/')



@app.route("/consultants/<int:consultant_id>/cases/<application_id>", methods=["GET", "POST"])
def consultant_case(consultant_id, application_id):
    if g.user and g.user['id'] == consultant_id:
        msg = ''
        if request.method == 'POST':
            try:
                application_status = request.form['application_status']

                with sqlite3.connect('expat_project.db') as con:
                    c=con.cursor()
                    c.execute("UPDATE applications SET status = ? WHERE id = ?",(application_status,application_id))

                    con.commit()
                    msg = "Updated application status! "

    #When the page is refreshed, submit button does not work
            except Exception as e:
                con.rollback()
                msg = "Got back error updating status: " + str(e)

            finally:
                con.close()


        conn = get_db_connection()
        ## Adding consultant_id as WHERE clause to make sure we only get application if consultant is associated with it
        rows = conn.execute("""SELECT
         a.id, 
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at, 
         c.first_name AS "consultant_first_name", 
         c.last_name AS "consultant_last_name",
         c.company_name, 
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id 
    WHERE a.assigned_consultant_id = ? AND a.id = ? """,(consultant_id, application_id)).fetchall()

        responses = conn.execute("""SELECT
            ar.*,
            q.title
        FROM application_responses as ar
        LEFT JOIN questions q ON q.id = ar.question_id
        WHERE ar.application_id = ? """, (application_id)).fetchall()
        conn.close()
        return render_template('consultant_case.html', application = rows[0], msg = msg, responses = responses, consultant_id = consultant_id) 
    
    else:
        return redirect('/')

@app.route("/About")
def index():
    connection = sqlite3.connect('expat_project.db')
    cursor = connection.cursor()
    cursor.execute("SELECT status, COUNT(*) FROM applications GROUP BY status")
    result = cursor.fetchall()
    connection.close()
    labels = []
    values = []
    for item in result:
        labels.append(item[0])
        values.append(item[1])
    total_count = sum(values)
    plt.bar(labels, values)
    plt.xlabel('Status')
    plt.ylabel('Count')
    plt.title('Finished, Submitted, In Progress')
    plt.savefig('static/status_graph.png')
    plt.close()
    return render_template('About.html')



app.run(host='localhost', port=8081, debug=True, use_reloader=False) #running app which is Flask at localhost at port 8081

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://localhost:8081/ (Press CTRL+C to quit)
127.0.0.1 - - [22/Jan/2023 16:04:12] "GET / HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 49

127.0.0.1 - - [22/Jan/2023 16:04:23] "POST /login HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 49
SELECT users.id, consultants.id as "consultant_id", users.email, users.pass_hash FROM users LEFT JOIN consultants ON consultants.user_id = users.id where users.email='anirbanshady@gmail.com' AND users.pass_hash='8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92'
got back user with consulant: ['id', 'consultant_id', 'email', 'pass_hash']
got back consultant id: None
got back type of user: <class 'sqlite3.Row'>
got back user: <sqlite3.Row object at 0x0000020C6FC3F110>

127.0.0.1 - - [22/Jan/2023 16:04:23] "GET /static/img.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 16:04:33] "GET /users/11/cases HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
SELECT
            t.title,
            u.first_name as "user_first_name",
            u.last_name as "user_last_name",
            a.created_at,
            a.updated_at,
            c.first_name as "consultant_first_name",
            c.last_name as "consultant_last_name",
            c.company_name,
            a.status
        FROM applications AS a
        LEFT JOIN application_types as t
        ON a.application_type_id = t.id
        LEFT JOIN users AS u
        ON a.creator_id = u.id
        LEFT JOIN consultants AS c
        ON a.assigned_consultant_id = c.id
        WHERE a.creator_id = 11

127.0.0.1 - - [22/Jan/2023 16:04:52] "GET /logout HTTP/1.1" 302 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 16:04:52] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:00] "POST /login HTTP/1.1" 200 -

SELECT users.id, consultants.id as "consultant_id", users.email, users.pass_hash FROM users LEFT JOIN consultants ON consultants.user_id = users.id where users.email='anirbanshady@gmail.com' AND users.pass_hash='8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92'
got back user with consulant: ['id', 'consultant_id', 'email', 'pass_hash']
got back consultant id: None
got back type of user: <class 'sqlite3.Row'>
got back user: <sqlite3.Row object at 0x0000020C6FC3FBD0>

127.0.0.1 - - [22/Jan/2023 16:05:01] "GET /static/img.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 16:05:03] "GET /users/11/select_application HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
SELECT id, title FROM application_types

127.0.0.1 - - [22/Jan/2023 16:05:08] "GET /users/11/applications/1/create HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
SELECT title, id, required FROM questions WHERE application_type_id = 1

127.0.0.1 - - [22/Jan/2023 16:05:08] "GET /static/img3.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 16:05:13] "POST /users/11/applications/1/submit HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
inserted application with id: 50
inserted application response with id: 421
inserted application response with id: 422
inserted application response with id: 423
inserted application response with id: 424
inserted application response with id: 425
inserted application response with id: 426
inserted application response with id: 427
inserted application response with id: 428
inserted application response with id: 429
inserted application response with id: 430
inserted application response with id: 431
inserted application response with id: 432

127.0.0.1 - - [22/Jan/2023 16:05:13] "GET /static/img4.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 16:05:19] "GET /users/11/cases HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
SELECT
            t.title,
            u.first_name as "user_first_name",
            u.last_name as "user_last_name",
            a.created_at,
            a.updated_at,
            c.first_name as "consultant_first_name",
            c.last_name as "consultant_last_name",
            c.company_name,
            a.status
        FROM applications AS a
        LEFT JOIN application_types as t
        ON a.application_type_id = t.id
        LEFT JOIN users AS u
        ON a.creator_id = u.id
        LEFT JOIN consultants AS c
        ON a.assigned_consultant_id = c.id
        WHERE a.creator_id = 11

127.0.0.1 - - [22/Jan/2023 16:05:26] "GET /logout HTTP/1.1" 302 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 16:05:27] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:33] "GET /logout HTTP/1.1" 500 -
Traceback (most recent call last):
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2464, in __call__
    return self.wsgi_app(environ, start_response)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2450, in wsgi_app
    response = self.handle_exception(e)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1867, in handle_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1953, in full_dispatch_request
    return self.finalize_request(rv)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1968, in finalize_request
    response = self.make_response(rv)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2097, in make_response
    raise TypeError(
TypeError: The view function did not return a valid response. The function either returned None or ended without a return statement.
127.0.0.1 - - [22/Jan/2023 16:05:33] "GET /logout?__debugger__=yes&cmd=resource&f=style.css HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:33] "GET /logout?__debugger__=yes&cmd=resource&f=debugger.js HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:33] "GET /logout?__debugger__=yes&cmd=resource&f=ubuntu.ttf HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:34] "GET /logout?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:34] "GET /logout?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:38] "GET /logout HTTP/1.1" 500 -
Traceback (most recent call last):
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2464, in __call__
    return self.wsgi_app(environ, start_response)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2450, in wsgi_app
    response = self.handle_exception(e)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1867, in handle_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1953, in full_dispatch_request
    return self.finalize_request(rv)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1968, in finalize_request
    response = self.make_response(rv)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2097, in make_response
    raise TypeError(
TypeError: The view function did not return a valid response. The function either returned None or ended without a return statement.
127.0.0.1 - - [22/Jan/2023 16:05:38] "GET /logout?__debugger__=yes&cmd=resource&f=style.css HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:38] "GET /logout?__debugger__=yes&cmd=resource&f=debugger.js HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:38] "GET /logout?__debugger__=yes&cmd=resource&f=ubuntu.ttf HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:38] "GET /logout?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:39] "GET /logout?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:42] "GET /users/11/applications/1/create HTTP/1.1" 302 -
127.0.0.1 - - [22/Jan/2023 16:05:50] "GET /About HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:05:51] "GET /static/status_graph.png HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:06:09] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:06:37] "POST /registered HTTP/1.1" 302 -
127.0.0.1 - - [22/Jan/2023 16:06:37] "GET /users/50/select_application HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 50
SELECT id, title FROM application_types

127.0.0.1 - - [22/Jan/2023 16:06:40] "GET /users/50/applications/1/create HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 50
SELECT title, id, required FROM questions WHERE application_type_id = 1

127.0.0.1 - - [22/Jan/2023 16:06:41] "GET /static/img3.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 50

127.0.0.1 - - [22/Jan/2023 16:06:44] "POST /users/50/applications/1/submit HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 50
inserted application with id: 51
inserted application response with id: 433
inserted application response with id: 434
inserted application response with id: 435
inserted application response with id: 436
inserted application response with id: 437
inserted application response with id: 438
inserted application response with id: 439
inserted application response with id: 440
inserted application response with id: 441
inserted application response with id: 442
inserted application response with id: 443
inserted application response with id: 444

127.0.0.1 - - [22/Jan/2023 16:06:44] "GET /static/img4.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 50

127.0.0.1 - - [22/Jan/2023 16:06:49] "GET /users/50/cases HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 50
SELECT
            t.title,
            u.first_name as "user_first_name",
            u.last_name as "user_last_name",
            a.created_at,
            a.updated_at,
            c.first_name as "consultant_first_name",
            c.last_name as "consultant_last_name",
            c.company_name,
            a.status
        FROM applications AS a
        LEFT JOIN application_types as t
        ON a.application_type_id = t.id
        LEFT JOIN users AS u
        ON a.creator_id = u.id
        LEFT JOIN consultants AS c
        ON a.assigned_consultant_id = c.id
        WHERE a.creator_id = 50

127.0.0.1 - - [22/Jan/2023 16:07:02] "GET /logout HTTP/1.1" 302 -

SELECT * FROM users WHERE id = 50

127.0.0.1 - - [22/Jan/2023 16:07:02] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 16:07:07] "GET /users/11/cases HTTP/1.1" 302 -
127.0.0.1 - - [22/Jan/2023 16:07:07] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:10:37] "POST /login HTTP/1.1" 200 -

SELECT users.id, consultants.id as "consultant_id", users.email, users.pass_hash FROM users LEFT JOIN consultants ON consultants.user_id = users.id where users.email='anirbanshady@gmail.com' AND users.pass_hash='8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92'
got back user with consulant: ['id', 'consultant_id', 'email', 'pass_hash']
got back consultant id: None
got back type of user: <class 'sqlite3.Row'>
got back user: <sqlite3.Row object at 0x0000020C7053BAD0>

127.0.0.1 - - [22/Jan/2023 17:10:37] "GET /static/img.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 17:10:42] "GET /users/11/select_application HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
SELECT id, title FROM application_types

127.0.0.1 - - [22/Jan/2023 17:14:21] "GET /users/11/applications/1/create HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
SELECT title, id, required FROM questions WHERE application_type_id = 1

127.0.0.1 - - [22/Jan/2023 17:14:21] "GET /static/img3.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 17:16:22] "POST /users/11/applications/1/submit HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
inserted application with id: 52
inserted application response with id: 445
inserted application response with id: 446
inserted application response with id: 447
inserted application response with id: 448
inserted application response with id: 449
inserted application response with id: 450
inserted application response with id: 451
inserted application response with id: 452
inserted application response with id: 453
inserted application response with id: 454
inserted application response with id: 455
inserted application response with id: 456

127.0.0.1 - - [22/Jan/2023 17:16:22] "GET /static/img4.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 17:24:25] "GET /users/11/cases HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 11
SELECT
            t.title,
            u.first_name as "user_first_name",
            u.last_name as "user_last_name",
            a.created_at,
            a.updated_at,
            c.first_name as "consultant_first_name",
            c.last_name as "consultant_last_name",
            c.company_name,
            a.status
        FROM applications AS a
        LEFT JOIN application_types as t
        ON a.application_type_id = t.id
        LEFT JOIN users AS u
        ON a.creator_id = u.id
        LEFT JOIN consultants AS c
        ON a.assigned_consultant_id = c.id
        WHERE a.creator_id = 11

127.0.0.1 - - [22/Jan/2023 17:25:39] "GET /logout HTTP/1.1" 302 -

SELECT * FROM users WHERE id = 11

127.0.0.1 - - [22/Jan/2023 17:25:39] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:27:13] "POST /login HTTP/1.1" 302 -

SELECT users.id, consultants.id as "consultant_id", users.email, users.pass_hash FROM users LEFT JOIN consultants ON consultants.user_id = users.id where users.email='tkachovapol@gmail.com' AND users.pass_hash='8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92'

127.0.0.1 - - [22/Jan/2023 17:27:13] "GET /consultants/1/cases HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1
SELECT
         a.id,
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at,
         c.first_name AS "consultant_first_name",
         c.last_name AS "consultant_last_name",
         c.company_name,
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id
    WHERE a.assigned_consultant_id = 1

127.0.0.1 - - [22/Jan/2023 17:33:29] "GET /consultants/1/cases/1 HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1
SELECT
         a.id,
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at,
         c.first_name AS "consultant_first_name",
         c.last_name AS "consultant_last_name",
         c.company_name,
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id
    WHERE a.assigned_consultant_id = 1 AND a.id = '1'
SELECT
            ar.*,
            q.title
        FROM application_responses as ar
        LEFT JOIN questions q ON q.id = ar.question_id
        WHERE ar.application_id = '1'

127.0.0.1 - - [22/Jan/2023 17:33:29] "GET /static/img6.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1

127.0.0.1 - - [22/Jan/2023 17:33:39] "POST /consultants/1/cases/1 HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1
SELECT
         a.id,
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at,
         c.first_name AS "consultant_first_name",
         c.last_name AS "consultant_last_name",
         c.company_name,
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id
    WHERE a.assigned_consultant_id = 1 AND a.id = '1'
SELECT
            ar.*,
            q.title
        FROM application_responses as ar
        LEFT JOIN questions q ON q.id = ar.question_id
        WHERE ar.application_id = '1'

127.0.0.1 - - [22/Jan/2023 17:38:18] "GET /logout HTTP/1.1" 302 -

SELECT * FROM users WHERE id = 1

127.0.0.1 - - [22/Jan/2023 17:38:18] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:38:53] "POST /registered HTTP/1.1" 302 -
127.0.0.1 - - [22/Jan/2023 17:38:53] "GET /users/51/select_application HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 51
SELECT id, title FROM application_types

127.0.0.1 - - [22/Jan/2023 17:40:21] "GET /users/51/applications/1/create HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 51
SELECT title, id, required FROM questions WHERE application_type_id = 1

127.0.0.1 - - [22/Jan/2023 17:40:21] "GET /static/img3.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 51

127.0.0.1 - - [22/Jan/2023 17:43:27] "POST /users/51/applications/1/submit HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 51
inserted application with id: 53
inserted application response with id: 457
inserted application response with id: 458
inserted application response with id: 459
inserted application response with id: 460
inserted application response with id: 461
inserted application response with id: 462
inserted application response with id: 463
inserted application response with id: 464
inserted application response with id: 465
inserted application response with id: 466
inserted application response with id: 467
inserted application response with id: 468

127.0.0.1 - - [22/Jan/2023 17:43:27] "GET /static/img4.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 51

127.0.0.1 - - [22/Jan/2023 17:44:33] "GET /users/51/cases HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 51
SELECT
            t.title,
            u.first_name as "user_first_name",
            u.last_name as "user_last_name",
            a.created_at,
            a.updated_at,
            c.first_name as "consultant_first_name",
            c.last_name as "consultant_last_name",
            c.company_name,
            a.status
        FROM applications AS a
        LEFT JOIN application_types as t
        ON a.application_type_id = t.id
        LEFT JOIN users AS u
        ON a.creator_id = u.id
        LEFT JOIN consultants AS c
        ON a.assigned_consultant_id = c.id
        WHERE a.creator_id = 51

127.0.0.1 - - [22/Jan/2023 17:45:24] "GET /logout HTTP/1.1" 302 -

SELECT * FROM users WHERE id = 51

127.0.0.1 - - [22/Jan/2023 17:45:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:45:30] "POST /login HTTP/1.1" 302 -

SELECT users.id, consultants.id as "consultant_id", users.email, users.pass_hash FROM users LEFT JOIN consultants ON consultants.user_id = users.id where users.email='tkachovapol@gmail.com' AND users.pass_hash='8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92'

127.0.0.1 - - [22/Jan/2023 17:45:30] "GET /consultants/1/cases HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1
SELECT
         a.id,
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at,
         c.first_name AS "consultant_first_name",
         c.last_name AS "consultant_last_name",
         c.company_name,
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id
    WHERE a.assigned_consultant_id = 1

127.0.0.1 - - [22/Jan/2023 17:46:12] "GET /consultants/1/cases/1 HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1
SELECT
         a.id,
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at,
         c.first_name AS "consultant_first_name",
         c.last_name AS "consultant_last_name",
         c.company_name,
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id
    WHERE a.assigned_consultant_id = 1 AND a.id = '1'
SELECT
            ar.*,
            q.title
        FROM application_responses as ar
        LEFT JOIN questions q ON q.id = ar.question_id
        WHERE ar.application_id = '1'

127.0.0.1 - - [22/Jan/2023 17:46:13] "GET /static/img6.jpg HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1

127.0.0.1 - - [22/Jan/2023 17:46:17] "GET /consultants/1/cases/2 HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1
SELECT
         a.id,
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at,
         c.first_name AS "consultant_first_name",
         c.last_name AS "consultant_last_name",
         c.company_name,
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id
    WHERE a.assigned_consultant_id = 1 AND a.id = '2'
SELECT
            ar.*,
            q.title
        FROM application_responses as ar
        LEFT JOIN questions q ON q.id = ar.question_id
        WHERE ar.application_id = '2'

127.0.0.1 - - [22/Jan/2023 17:48:22] "POST /consultants/1/cases/2 HTTP/1.1" 200 -

SELECT * FROM users WHERE id = 1
SELECT
         a.id,
         t.title,
         u.first_name AS "user_first_name",
         u.last_name AS "user_last_name",
         a.created_at,
         a.updated_at,
         c.first_name AS "consultant_first_name",
         c.last_name AS "consultant_last_name",
         c.company_name,
         a.status
    FROM applications as a
    LEFT JOIN application_types as t
    ON a.application_type_id = t.id
    LEFT JOIN users as u
    ON 	a.creator_id = u.id
    LEFT JOIN consultants as c
    ON 	a.assigned_consultant_id = c.id
    WHERE a.assigned_consultant_id = 1 AND a.id = '2'
SELECT
            ar.*,
            q.title
        FROM application_responses as ar
        LEFT JOIN questions q ON q.id = ar.question_id
        WHERE ar.application_id = '2'

127.0.0.1 - - [22/Jan/2023 17:48:24] "POST /consultants/1/cases/2 HTTP/1.1" 500 -

SELECT * FROM users WHERE id = 1

Traceback (most recent call last):
  File "<ipython-input-3-24701037ad28>", line 247, in consultant_case

  File "C:\Users\mraer\anaconda3\Lib\site-packages\werkzeug\datastructures.py", line 377, in __getitem__
    raise exceptions.BadRequestKeyError(key)
werkzeug.exceptions.BadRequestKeyError: 400 Bad Request: The browser (or proxy) sent a request that this server could not understand.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<ipython-input-3-24701037ad28>", line 258, in consultant_case

UnboundLocalError: local variable 'con' referenced before assignment

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2464, in __call__
    return self.wsgi_app(environ, start_response)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2450, in wsgi_app
    response = self.handle_exception(e)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1867, in handle_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\mraer\anaconda3\Lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-3-24701037ad28>", line 262, in consultant_case

UnboundLocalError: local variable 'con' referenced before assignment
127.0.0.1 - - [22/Jan/2023 17:48:25] "GET /consultants/1/cases/2?__debugger__=yes&cmd=resource&f=style.css HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:48:25] "GET /consultants/1/cases/2?__debugger__=yes&cmd=resource&f=debugger.js HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:48:25] "GET /consultants/1/cases/2?__debugger__=yes&cmd=resource&f=ubuntu.ttf HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:48:25] "GET /consultants/1/cases/2?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:48:25] "GET /consultants/1/cases/2?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:48:34] "GET /logout HTTP/1.1" 302 -

SELECT * FROM users WHERE id = 1

127.0.0.1 - - [22/Jan/2023 17:48:34] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Jan/2023 17:54:32] "GET /About HTTP/1.1" 200 -